.header {
    width: 100%;
    height: 6.25rem;
    position: static;
    z-index: 9;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.19s ease-in-out;

    @media (max-width: 600px) {
        height: 5rem;
    }

    .logoContainer {
        max-width: 12.5rem;
        width: 100%;
        height: 5.25rem;
        display: flex;
        align-items: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .navigationContainer {
        height: 6.25rem;

        @media (max-width: 600px) {
            height: 5rem;
        }

        .navigationList {
            height: 100%;
            display: flex;
            align-items: center;

            .select {
                text-decoration: underline;
            }

            .navigationLinks {
                display: block;
                font-size: $font-size-base;
                color: $white ;
                text-decoration: none;
                border-bottom: 1px solid transparent;
                padding: 0.5rem 2rem;

                &:hover {
                    color: $primary;
                }
            }
        }

    }

    .iconNavigationContainer {
        height: 6.25rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @media (max-width: 600px) {
            height: 5rem;
        }

        .navIcon {
            display: block;
            color: $white ;
            text-decoration: none;
            padding: 0.5rem 2rem;

            @media (max-width: 600px) {
                padding: 0.5rem 1rem;
            }

            &:hover {
                color: $primary;

                .MuiBadge-badge {
                    color: $white;

                }
            }
        }
    }

}

.scrolled {
    position: fixed;
    background-color: $dark-gray;
    box-shadow: $box-shadow;
}

.divider {
    display: flex;
    align-items: flex-end;
    background-color: $primary;
}

.MuiBadge-badge {
    background-color: $primary;
}