// Text Classes
.primary-text {
    color: $primary;
}

.success-text {
    color: $success !important;
}

.warning-text {
    color: $warning !important;
}

.error-text {
    color: $error !important;
}

.grey-text {
    color: $light-gray;
}


.none-text-transform {
    text-transform: none !important;
}

.text-capitalize {
    text-transform: capitalize !important;
}


// Margin Classes
.mt-50{
    margin-top: 3.125rem !important;
}
.mb-50{
    margin-bottom: 3.125rem !important;
}
.mt-30{
    margin-top: 1.875rem !important;
}
.mb-30{
    margin-bottom: 1.875rem !important;
}
.mt-18{
    margin-top: 1.125rem !important;
}
.mb-18{
    margin-bottom: 1.125rem !important;
}
.mt-12{
    margin-top: .75rem !important;
}
.mt-10{
    margin-top: .625rem !important;
}
