.landingPage {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    

    .bg2 {
        position: absolute;
        top: 50%;
        left: -25%;
    }

    .bg1 {
        position: absolute;
        top: 0%;
        right: -55%;
    }
    .line1{
        position: absolute;
        bottom: 15%;   
        left: 10%;
    }
    .line2{
        position: absolute;
        top: 15%;   
        right: 10%;
    }


    .contentBox{
        opacity:1;
        width: 0%;
        height: 50vh;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .subHeading{
            color: $primary;
            font-size: $h4-font-size;
            font-weight: bold;
        }
        .heading{
            color: $primary;
            font-size: 3.4375rem;
            font-weight: 900;
        }
        .content{
            color: $gray;
            font-size: $font-size-sm;
        }
    }
}