.landingPage {
    height: 100vh;
    background-image: url("../../assets/images/homeBg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .homebgContent {
        height: 35vh;
        padding: 2rem 0;
        background-color: #0000008f;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        clip-path: polygon(0 0, 100% 0, calc(100% - (35vh * tan(10deg))) 100%, calc(35vh * tan(10deg)) 100%);

        .mainContent {
            color: $white;

            .heading {
                font-size: 12rem;
                font-weight: $font-weight-bold;
                font-family: 'DM Serif Display', serif !important;

                @media (max-width: 600px) {
                    font-size: 3.5rem;
                }
            }
        }

        .subContent-btn {
            font-size: $font-size-lg;
            color: $white;
            text-decoration: none;
            border: 1px solid $white;
            padding: 1rem 1.5rem;

            &:hover {
                border: 1px solid $primary;
            }

            @media (max-width: 600px) {
                font-size: $font-size-base;
                padding: 0.8rem;
                font-size: $font-size-sm;
            }
        }

        .subContent {
            font-size: $font-size-lg;
            color: $white;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 1rem;
            text-decoration: none;


            @media (max-width: 600px) {
                font-size: $font-size-sm;
            }
        }
    }
}