.LandingStore {
    background-color: rgba(0, 0, 0, 0.020);

    .LandingStoreHeading {
        font-size: $h3-font-size;
        color: $black;
        font-weight: $font-weight-bold;

    }
}